
.wrapper{
    width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.9);
	color:#fff;
}
.wrapper div{
	width:100%;
}
.table-wrapper{
	display: table;
	background-color: rgba(100,100,100,.5);
}
.top-area{
    display: table-caption;
    padding: 15px 0;
}
.body-area{
	display: table-row;
}
.body-area div{
	width: 33%;
    vertical-align: middle;
    display: table-cell;
    padding: 30px 0px;
    border: solid 1px #4d4d4d;
}
.left-area{
	text-align: left;
}
.left-area ul{
	list-style: none;
}
.center-area{
	
}
#canvas{
	
}
.right-area{
	
}
.bottom-area{
	display:block;
}
.bottom-area-inner{
	padding: 15px 0;
}

